

  <div class="col-md-6">
        <h2> Trainings Details</h2>
        
        <table class="table table-striped">
          <thead>
          <tr>
            <th class="hidden">Id</th>
            <th>Training's Delivered</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
         <!-- <tr *ngFor="let user of users">-->
           <tr>
            <td class="hidden">{{user.id}}</td>
            <td>{{user.specialization}}</td>
            <td>{{user.start_Time}}</td>
            <td>{{user.end_Time}}</td>
            <td><button class="btn btn-danger" > Delete Record</button></td>
          </tr>
          </tbody>
        </table>
        </div>