<head><link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" >
 
</head>

<div class="col-md-6">
    <h2> Training Details</h2>
    
    <table class="table table-striped">
      <thead>
      <tr>
        <th class="hidden">Id</th>
         
        <th>progress</th>
        <th>commissionAmount</th>
        <th><pre><b>rating</b></pre></th>
        <th>avgRating</th>
        <th>startDate</th>
        <th>endDate</th>
        <th>startTime</th>
        <th>endTime</th>
        <th>amountReceived</th>
        
     <th>fees</th>
     <th>status</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let tr of trainings">
        <td class="hidden">{{tr.id}}</td>
        <td> <circle-progress
          [percent]="tr.progress"
          [radius]="25"
          [outerStrokeWidth]="8"
          [innerStrokeWidth]="4"
          [outerStrokeColor]="'#78C000'"
          [innerStrokeColor]="'#C7E596'"
          [animation]="true"
          [animationDuration]="200"
        ></circle-progress></td>
        <td>{{tr.commissionAmount}}</td>
        <td><pre><b>{{tr.rating}}</b></pre></td>
        <td><pre><b>{{tr.avgRating}}</b></pre></td>
        <td>{{tr.startDate}}</td>
        <td>{{tr.endDate}}</td>
        <td>{{tr.startTime}}</td>
        <td>{{tr.endTime}}</td>
        <td>{{tr.amountReceived}}</td>
        <td>{{tr.fees}}</td>
        <td>{{tr.status}}</td>
       
      </tr>
      </tbody>
    </table>
    <button> <a  routerLink="/mentor-dashboard">Back</a> </button>
    </div>
