<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

  <div class="container">
        <div class="row">
        <div class="col-md-5  toppad  pull-right col-md-offset-3 ">
            
  
         
         <br>
  <p id="demo"></p>
  
  
        </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
     
     
            <div class="panel panel-info">
              <div class="panel-heading">
                <h3 class="panel-title">{{user.firstName}}  {{user.lastName}}</h3>
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-3 col-lg-3 " > <img alt="User Pic" src="./../../assets/images/user.png" class="img-circle img-responsive"> </div>
                 
                  <div class=" col-md-9 col-lg-9 "> 
                     <table class="table table-user-information">
                      <tbody>

                          <tr>
                              <td>ID</td>
                              <td>{{user.id}}</td>
                            </tr>

                            <tr>
                                <td>User Name</td>
                                <td>{{user.userName}}</td>
                              </tr>
                          <tr>
                              <td>Registration Code :</td>
                              <td>{{user.regCode}}</td>
                            </tr>
                          
                        <tr>
                          <td>active :</td>
                          <td>{{user.active}}</td>
                        </tr>
                        <tr>
                          <td>linkedinUrl:</td>
                          <td>{{user.linkedinUrl}}</td>
                        </tr>
                        <tr>
                          <td>years Of Experience</td>
                          <td>{{user.yearsOfExperience}}</td>
                        </tr>
                     
                              
                        <tr>
                          <td>Email</td>
                          <td><a href="#">{{user.email}}</a></td>
                        </tr>
                        <tr>
                          <td>Phone Number</td>
                          <td>{{user.contactNumber}}<br><br>
                          </td>
                             
                        </tr>
                       
                      </tbody>
                    </table> 
                
                    <a routerLink="/user-dashboard" class="btn btn-primary">Home Page</a> 

                    <a routerLink="/home" class="btn btn-primary">LOGOUT</a>
                  </div>
                </div>
              </div>
                   <div class="panel-footer">
                          <a data-original-title="Broadcast Message" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i></a>
                          <span class="pull-right">
                              <a href="#" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
                              <a routerLink="/user-dashboard" data-original-title="Remove this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
                          </span>
                      </div>
              
            </div>
          </div>
        </div>
      </div>
