<div class="col-md-6">
    <h2> Payment Details</h2>
   
    <table class="table table-striped">
      <thead>
      <tr>
        <th class="hidden">Id</th>
         
        <th>txnType</th>
        <th>amount</th>
        <th>remarks</th>

        <th>mentorId</th>
        <th>trainingId</th>
        <th>paymentType</th>
        <th>CreatedAt</th>
      <th>UpdatedAt
      </th>
     
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let payment of payments">
        <td class="hidden">{{payment.id}}</td>
        <td>{{payment.txnType}}</td>
        <td>{{payment.amount}}</td>
        <td>{{payment.remarks}}</td>
        <td>{{payment.mentorId}}</td>
        <td>{{payment.trainingId}}</td>
        <td>{{payment.paymentType}}</td>
        <td>{{payment.createdAt | date}}</td>
      <td>{{payment.updatedAt | date}}</td>
       
      </tr>
      </tbody>
    </table>
    <button> <a  routerLink="/mentor-dashboard">Back</a> </button>
    </div>
