<div class="header">
    <h1>Mentor On Demand Automation</h1>
  </div>
  
  <div class="topnav">
    <a href="#"></a>
    <a href="#"></a>
    <a href="#"></a>
  </div>
  
  <br>
  <br>
  <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <a routerLink="/user-login"><img src="./../../assets/images/user.png" ></a>
           <p>   USER login/sign up here</p>
        </div>
        <div class="col-lg-4">
          <a href="/mentor-login"><img src="https://banner2.kisspng.com/20180426/sxq/kisspng-mentorship-computer-icons-teacher-organization-creative-icon-5ae18121ab5f22.474859021524728097702.jpg" ></a>
          <p>   MENTOR login here </p>
         </div>
        <div class="col-lg-4">
         <a routerLink="/adminlogin"><img src="./../../assets/images/admin.png" ></a>
         <p>   ADMIN login here </p>
        </div>
          <br>
    </div>