<div class="col-md-6">
  <h2> Skill Details</h2>
  <a style="margin-left:10px" routerLink="/addskill">Add Skill</a>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Toc</th>
      <th>prerequisites</th>
      <th>trainingId</th>
      <th>CreatedAt</th>
      <th>UpdatedAt
      </th>

      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let sk of skills">
      <td>{{sk.id}}</td>
      <td>{{sk.name}}</td>
      <td>{{sk.toc}}</td>
      <td>{{sk.prerequisites}}</td>
      <td>{{sk.trainingId}}</td>
      <td>{{sk.createdAt | date}}</td>
      <td>{{sk.updatedAt | date}}</td>
      
      <td><button class="btn btn-danger" (click)="deleteSkill(sk)"> Delete Skill</button></td>
    </tr>
    </tbody>
  </table>
  </div>