<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

  <div class="container">
        <div class="jumbotron text-center">
           <h2>Training's in Progress for user</h2>
           <p>Welcome to have a look at training in progress for you</p>
         </div>
                                                                                            
         <div class="table-responsive">          
        <table class="table table-bordered , table table-hover">
           <thead>
             <tr>
               <th>S.No.</th>
               <th>COURSE NAME</th>
               <th>COURSE CODE</th>
               <th>TIME DURATION</th>
               <th>COMPLETION STATUS</th>
               <th>VALIDITY</th>
             </tr>
           </thead>
           <tbody>
             <tr>
               <td>1</td>
               <td>JAVA</td>
               <td>JAVA001</td>
               <td>50 hrs</td>
               <td>
                 <div class="w3-light-grey w3-tiny">
           <div class="w3-container w3-green" style="width:50%">50%</div>
         </div>
               </td>
               <td>june 2020</td>
             </tr>
           </tbody>
           <tbody>
             <tr>
               <td>2</td>
               <td>ALGORITHMS</td>
               <td>ALGO002</td>
               <td>75 hrs</td>
               <td>
                 <div class="w3-light-grey w3-tiny">
           <div class="w3-container w3-green" style="width:25%">25%</div>
         </div>
               </td>
               <td>june 2021</td>
             </tr>
           </tbody>
           <tbody>
             <tr>
               <td>3</td>
               <td>HTML</td>
               <td>HTML045</td>
               <td>15 hrs</td>
               <td>
                 <div class="w3-light-grey w3-tiny">
           <div class="w3-container w3-green" style="width:75%">75%</div>
         </div>
               </td>
               <td>july 2022</td>
             </tr>
           </tbody>
           <tbody>
             <tr>
               <td>4</td>
               <td>CSS</td>
               <td>CSS007</td>
               <td>10 hrs</td>
               <td><div class="w3-light-grey w3-tiny">
           <div class="w3-container w3-green" style="width:42%">42%</div>
         </div></td>
               <td>dec 2019</td>
             </tr>
           </tbody>
           <tbody>
             <tr>
               <td>5</td>
               <td>BOOTSTRAP</td>
               <td>BS009</td>
               <td>30 hrs</td>
               <td><div class="w3-light-grey w3-tiny">
           <div class="w3-container w3-green" style="width:92%">92%</div>
         </div></td>
               <td>june 2020</td>
             </tr>
           </tbody>
       
           <tbody>
             <tr>
               <td>6</td>
               <td>JAVASCRIPT</td>
               <td>JS010</td>
               <td>50 hrs</td>
               <td><div class="w3-light-grey w3-tiny">
           <div class="w3-container w3-green" style="width:48%">48%</div>
         </div></td>
               <td>aug 2020</td>
             </tr>
           </tbody>
           <tbody>
             <tr>
               <td>7</td>
               <td>IOT</td>
               <td>IOT0046</td>
               <td>55 hrs</td>
               <td><div class="w3-light-grey w3-tiny">
           <div class="w3-container w3-green" style="width:68%">68%</div>
         </div></td>
               <td>Sep 2020</td>
             </tr>
           </tbody>
         
       
         </table>
         </div>
       </div>
       
       
       <br>
       <br>
       <br>
       <div class="container" >
         <ul class="pagination">
           <li><a href="trainings_in_progress.html">1</a></li>
           <li><a href="#">2</a></li>
         </ul>
       </div>
