  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <div class="container">
        <div class="jumbotron text-center">
           <h2>Training's Available</h2>
           <p>Welcome to have a look at available training</p>
         </div>
                                                                                            
         <div class="table-responsive">          
         <table class="table">
           <thead>
             <tr>
               <th>S.No.</th>
               <th>COURSE NAME</th>
               <th>COURSE CODE</th>
               <th>TIME DURATION</th>
               <th>COMPLETION STATUS</th>
               <th>VALIDITY</th>
             </tr>
           </thead>
           <tbody>
             <tr>
               <td>1</td>
               <td>JAVA</td>
               <td>JAVA001</td>
               <td>50 hrs</td>
               <td>complete</td>
               <td>june 2020</td>
             </tr>
           </tbody>
           <tbody>
             <tr>
               <td>2</td>
               <td>ALGORITHMS</td>
               <td>ALGO002</td>
               <td>75 hrs</td>
               <td>complete</td>
               <td>june 2020</td>
             </tr>
           </tbody>
           <tbody>
             <tr>
               <td>3</td>
               <td>HTML</td>
               <td>HTML045</td>
               <td>15 hrs</td>
               <td>complete</td>
               <td>june 2020</td>
             </tr>
           </tbody>
           <tbody>
             <tr>
               <td>4</td>
               <td>CSS</td>
               <td>CSS007</td>
               <td>10 hrs</td>
               <td>complete</td>
               <td>june 2020</td>
             </tr>
           </tbody>
           <tbody>
             <tr>
               <td>5</td>
               <td>BOOTSTRAP</td>
               <td>BS009</td>
               <td>30 hrs</td>
               <td>complete</td>
               <td>june 2020</td>
             </tr>
           </tbody>
       
           <tbody>
             <tr>
               <td>6</td>
               <td>JAVASCRIPT</td>
               <td>JS010</td>
               <td>50 hrs</td>
               <td>complete</td>
               <td>june 2020</td>
             </tr>
           </tbody>
           <tbody>
             <tr>
               <td>7</td>
               <td>IOT</td>
               <td>IOT0046</td>
               <td>55 hrs</td>
               <td>complete</td>
               <td>june 2020</td>
             </tr>
           </tbody>
       
         </table>
         </div>
       </div>
       
       
       <br>
       <br>
       <br>
       <div class="container" >
         <ul class="pagination">
           <li><a href="trainings.html">1</a></li>
           <li><a href="2nd.html">2</a></li>
           <li><a href="3rd.html">3</a></li>
           <li><a href="#">4</a></li>
           <li><a href="#">5</a></li>
         </ul>
       </div>