<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<section class="bg">
  <article>
    <div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-1">
        </div>
        <div class="col-lg-10">
          <form method="post">
            <fieldset>
              <legend>Personal Detail form for Signing up:</legend>
              <table>
                <tr>
                  <td> Name:</td>
                  <td>
                    <div class="input-group">
                      <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                      <input id="name" type="text" name="name" placeholder="Name">
                    </div>
                  </td>
                </tr>
                <tr>
                  <td> Gender:</td>
                  <td> <input type="radio" name="gender" />Male
                    <input type="radio" name="gender" />Female<br><br></td>
                </tr>
                <tr>
                  <td>
                    <p>Date of Birth :</p>
                  </td>
                  <td><span class="glyphicon glyphicon-calendar"></span> <input type="date" /></td>
                </tr>
                <tr>
                  <td>
                    <p>Time Zone:</p>
                  </td>
                  <td><span class="glyphicon glyphicon-time"></span> <input type="time" /></td>
                </tr>
                <tr>
                  <td>
                    <p>LinkedIn Url :</p>
                  </td>
                  <td><span class="glyphicon glyphicon-info-sign"></span><input type="url" /></td>
                </tr>
                <tr>
                  <td>
                    <p>Email :</p>
                  </td>
                  <td><span class="glyphicon glyphicon-envelope"></span> <input type="email" />
                  </td>
                </tr>
                <tr>
                  <td>
                    <p>Password :</p>
                  </td>
                  <td><span class="glyphicon glyphicon-lock"></span> <input type="password" name="original_pwd" />
                  </td>
                </tr>
                <tr>
                  <td>
                    <p>Password Reconfirm :</p>
                  </td>
                  <td><span class="glyphicon glyphicon-lock"></span> <input type="password" name="reconfirmed_pwd" />
                  </td>
                </tr>
                <tr>
                  <td>
                    <p>Upload Resume :</p>
                  </td>
                  <td><span class="glyphicon glyphicon-upload"></span><input type="file" />
                  </td>
                </tr>
                <tr>
                  <td>
                    <p>Contact No : </p>
                  </td>
                  <td><span class="glyphicon glyphicon-earphone"></span> <input type="tel" />
                  </td>
                </tr>
                <tr>
                  <td>
                    <p>Address : </p>
                  </td>
                  <td><span class="glyphicon glyphicon-home"></span><br><textarea rows="4" col="3"></textarea>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p>Number of years of experience:</p>
                  </td>
                  <td><span class="glyphicon glyphicon-ok-sign"></span><input type="number" name="quantity" min="1"
                      max="5" /></td>
                </tr>
                <tr>
                  <td>
                    <p> select technology known(experienced in):</p>
                  </td>
                  <td><span class="glyphicon glyphicon-info-sign"></span>
                    <input list="technology"> <datalist id="technology">
                      <option value="HTML">
                      <option value="Bootstrap">
                      <option value="CSS">
                      <option value="java">
                      <option value="C">
                      <option value="C++">
                      <option value="Database/SQL">
                    </datalist></td> <br><br>
                </tr>
                <tr>
                  <td><input type="reset" /></td>
                  <td><input type="submit" value="Submit" /></td>
                </tr>
              </table>
            </fieldset>
          </form>
        </div>
        <div class="col-lg-1">
        </div>
      </div>
    </div>

  </article>
</section>
<footer>
  <br>
  <br>
  <br>
  <br>
</footer>